// ルートサイズがデフォルトの16pxであった時
// px to Rem
$base-size: 16;
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// px to Rem
$base-fz: 16;
@function fz($target, $context: $base-fz) {
  @return ($target / $context) * 1rem;
}
@mixin fz($val) {
  font-size: fz($val);
}

.sampleFz {
  @include fz(24);
  max-width: size(800);
  padding: size(20) size(32);
  background-color: #eee;
  margin: auto;
  line-height: 1.6em;
  letter-spacing: 0.1ch;
}
// Start 10px End 20px  Multiple 2px
$startPx: 10;
$endPx: 20;
$multiplePx: 2;
@for $i from 0 through (($endPx - $startPx) / $multiplePx) {
  .fz#{$startPx + $i * $multiplePx} {
    font-size: size($startPx + $i * $multiplePx);
  }
}
// Start 24px End 48px  Multiple 4px
$startPx: 24;
$endPx: 48;
$multiplePx: 4;
@for $i from 0 through (($endPx - $startPx) / $multiplePx) {
  .fz#{$startPx + $i * $multiplePx} {
    font-size: size($startPx + $i * $multiplePx);
  }
}
