/* Product */
.title-area {
  .design-title {
    transform: rotate(-90deg);
    font-size: 8em;
    position: absolute;
    left: -1.5em;
    top: 2.5em;
    color: #fff2;
    z-index: -1;
  }

  h2 {
    display: block;
    z-index: 2;
    color: white;
  }
}

.layout-catch {
  opacity: 0.9;
}

.section {
  // min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: #ccc;
  &__container {
    min-height: 90vh;
    padding: 20%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    // left: 50%;
    // position: absolute;
    // top: 50%;
    // transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }
  p {
    // color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0;
  }
}

.not-section__container {
  position: relative;
  padding: 12%;
  max-width: 1440px;
  min-height: 80vh;
  z-index: 0;
}
// #first {
// background: dimgray;
// }
#second {
  background: orange;
}

#third {
  background: teal;
}
// ===== add cont
button {
  padding: 0.6em 2em;
  border-radius: 0.4em;
  background: none;
  outline: none;
  border: 1px solid #222;
}
h2,
h3 {
  margin: 1em 0;
  font-weight: 200;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
#first.section {
  background-color: #fff;
  background-image: url('https://picsum.photos/1200/800/?image=309');
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-weight: 200;
    text-align: center;
  }

  p {
    color: black;
  }

  .guide {
    font-size: 1rem;
    text-align: left;
  }

  .layout-links {
    // background: #eee9;
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      margin: 2em 0.85em;
      min-width: 12em;
    }
  }
}
